useDynLib(tweeDEseq)

importFrom(MASS, fitdistr)
importClassesFrom(edgeR, DGEList)
importFrom(edgeR, DGEList)
importFrom(edgeR, calcNormFactors)
importFrom(edgeR, estimateCommonDisp)
importFrom(edgeR, estimateTagwiseDisp)
importFrom(edgeR, equalizeLibSizes)
importFrom(limma, zscoreGamma)
importFrom(parallel, mclapply)
importFrom(parallel, detectCores)

export(
       compareCountDist,
       testPoissonTweedie,
       mlePoissonTweedie,
       dPT,
       rPT, 
       testShapePT, 
       getParam, 
       normalizeCounts,
       filterCounts,
       tweeDE,
       gofTest,
       qqchisq,
       MAplot,
       Vplot,
       glmPT,
       tweeDEglm
       )


S3method(print, mlePT)
S3method(logLik, mlePT)
S3method(confint, mlePT)
S3method(print, tweeDE)
S3method(MAplot, tweeDE)
S3method(Vplot, tweeDE)
S3method(print, glmPT)
S3method(summary, glmPT)
S3method(anova, glmPT)
S3method(logLik, glmPT)
S3method(AIC, glmPT)
